// Breakpoints
// 600px and DOWN: phones
// 600px and UP: portrait tablets and large phones
// 768px and up: landscape tablets
// 992px and up: laptops/desktops
// 1200px and up: large laptops and desktops

// Colors
$button-background: linear-gradient(to right, rgb(250, 180, 180), rgb(235, 150, 150));
$input-border: rgb(220, 200, 200);
$input-border-error: rgb(249, 98, 98);
$word-color-1: rgb(65, 58, 58);
$word-color-2: rgb(206, 151, 151);
$word-color-3: rgb(249, 98, 98);